@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply font-sans text-mine-shaft box-border p-0 m-0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background-color: #fff;
}

a {
	color: inherit;
	text-decoration: none;
}
